@use "../../styles/constants" as *;

.button {
  @extend %text-2;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.25rem;
  border: 1.5px solid var(--color-purple-100);

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  color: var(--color-white-100);
  background-color: var(--color-purple-100);

  @media(hover: hover) {
    &:hover {
      border: 1.5px solid var(--color-purple-light-100);
      background-color: var(--color-purple-light-100);
    }
  }

  &:active {
    background-color: var(--color-purple-dark-100);
  }

  &:disabled {
    background-color: var(--color-purple-pale-100);
    border: 1.5px solid var(--color-purple-pale-100);
  }
}

.secondary {
  color: var(--color-purple-100);
  background-color: var(--color-white-100);
  border: 1.5px solid var(--color-purple-100);

  @media(hover: hover) {
    &:hover {
      color: var(--color-purple-dark-100);
      border: 1.5px solid var(--color-purple-dark-100);
      background-color: var(--color-purple-light-xl-100);
    }
  }

  &:active {
    color: var(--color-purple-dark-100);
      border: 1.5px solid var(--color-purple-dark-100);
      background-color: var(--color-purple-light-l-100);
  }

  &:disabled {
    color: var(--color-gray);
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
  }
}