* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}