@use '../../styles/constants';
@use '../../styles/mixins' as *;

.main {
  margin: 24px auto;
  max-width: min(900px, 90%);
  border-radius: 12px;
  background-color: var(--color-grey-white-100);

  @include media-mobile {
    margin: 10px auto;
  }
}
