.wrapper {
  padding: 24px;

  &>hr {
    margin: 24px 0;
  }
}

.label {
  display: flex;
  flex-direction: column;
}

.form {
  &>label {
    margin-bottom: 9px;
  }

  &>button {
    margin-top: 47px;
  }
}