@use '../../styles/mixins' as *;

.wrapper {
  padding: 62px 110px;

  @include media-mobile {
    padding: 20px;
  }
}

.stepper {
  margin-bottom: 67px;

  @include media-mobile {
    margin-bottom: 30px;
  }
}
