.label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form {

  &>label,
  .advantages {
    margin: 24px 0;

    &>* {
      margin: 8px 0;
    }
  }

  &>button {
    margin-top: 47px;
  }
}

.advantagesList {
  list-style: none;
}

.advantage {
  display: flex;
  align-items: center;
  margin-top: 24px;
}