.label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form {

  &>label,
  .advantages {
    margin: 4px 0;

    &>* {
      margin: 8px 0;
    }
  }

  &>button {
    margin-top: 47px;
  }
}

.advantagesList {
  list-style: none;
}

.advantage {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 4px;

  >.btnDel {
    box-sizing: border-box;
    max-width: 30px;
    min-width: 30px;
    aspect-ratio: 1 / 1;
    margin-top: 10px;
  }
}

.advantages {
  
  >.btnAdd {
    max-width: 44px;
    min-width: 44px;
    aspect-ratio: 1 / 1;
  }
}